.main-height {
  min-height: 70vh;
}

.card {
  display: inline-block;
  -webkit-column-break-inside: avoid;
}

/* SECTION button styling */
.btn-blank {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 1.2em;
  opacity: 0.5;
}

.btn-blank:hover {
  opacity: 0.9;
}

li > .btn-blank {
  right: 1.7em;
}

#add-item > .btn-blank {
  right: 1.6em;
}

.card-header > .btn-blank {
  right: 0.7em;
}

.card-header > .btn-blank:hover {
  color: rgb(165, 65, 65);
}

ul {
  list-style-type: none;
  padding-left: 0.8em;
}
