.main-height {
  min-height: 70vh;
}

main {
  font-family: "Karla", sans-serif;
}

h1 {
  font-family: "Berkshire Swash", cursive;
}

.card {
  display: inline-block;
  -webkit-column-break-inside: avoid;
}

ul {
  list-style-type: none;
  padding-left: 0.8em;
}

label[for="item"] {
  padding-left: 0.5em;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

/* SECTION button styling */
.btn-blank {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 1.2em;
  opacity: 0.5;
}

.btn-blank:hover {
  opacity: 0.9;
}

li > .btn-blank {
  right: 1.7em;
}

#add-item > .btn-blank {
  right: 1.6em;
}

.card-header > .btn-blank {
  right: 0.7em;
}

.card-header > .btn-blank:hover {
  color: rgb(163, 86, 86);
}
